.user-interaction {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    font-family: cursive;
    font-weight: bold;
    button {
        padding: 0px 10px;
        background-color: #fee;
        box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    }
}