@import './reset.scss';
@import './equation.scss';
@import './navBar.scss';

body {
  background: url(../images/brickBkg3.jpg);
  background-size: cover;
  margin:0
}

div.canvas-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fee;
  margin: auto;
  height: 600px;
  width: 800px;
}
