@import './reset.scss';
@import './equation.scss';
@import './navBar.scss';
@import './instructions.scss';
@import './buttons.scss';

body {
  background: url(../images/brickBkg3.jpg);
  background-size: cover;
  margin:0
}

.visible {
    display: block;
}

.hidden{
  display: none;
}

div.canvas-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fee;
  margin: auto;
  height: 550px;
  width: 800px;
}
